<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
  <script src="../scripts/sketch.js"></script>
  <link type="text/css" rel="stylesheet" href="../css/style.css">
  <title>Document</title>
</head>
<body>

  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="#">Sketch</a></li>
    </ul>
  </nav>

  <div style="text-align: center;">
    <button type="button" name="button" onclick="clearSketch()" style="width: 300px;">Clear Sketch</button>
  </div>

  <br>
  

</body>
</html>
